<h6>All User Exercises</h6>
<br />
<p>Here is everyones recent exercises:</p>
{{#if exercises}}
<table class="striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each exercises}}
    <tr>
      <td><img src="{{user.image}}" alt="User Image" class="user-image"></td>
      <td><a href="/exercises/{{_id}}">{{name}}</a></td>
      <td>{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</td>
      <td>{{duration}} minutes</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>No exercises have been completed</p>
{{/if}}